@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: #f5f5f5;
}